#SponsorLaura {
    text-align: center;
}
#SponsorSabba {
    text-align: center;
}

.SponsorLaura {
    font-weight: bold;
    font-size: 155%;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-left: 10%;
    letter-spacing: 43px;
}
.SponsorSabba {
    font-weight: bold;
    font-size: 155%;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-left: 10%;
    letter-spacing: 41px;
}

.links {
    float: left;
    margin-left: 10%;
    padding-top: 5px;
}

p {
    text-align: left;
    font-size: 190%;
    margin-left: 38%;
    letter-spacing: 1px;
    margin-top: -3px;
}